@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
    font-family: Roboto;
    padding: 0;
}

ul {
    list-style-type: none;
    gap: 13px;
    padding-left: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background-color: #1F2937;
}
.header1 {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background-color: #1F2937;
    gap: 10px;
}

li {
    flex-grow: 2;
}
.logo {
    font-size: 24px;
}

.img {
    width: 35%;
    flex-shrink: 0;
}
img {
    width: 100%;
}
.texts {
    width: 562px;
    word-wrap: break-word;
    
}
.main {
    font-size: 48px;
    font-weight: 900;
    
}
.info {
    font-size: 18ps;
    margin-top: 8px;
    margin-bottom: 8px;
}

button {
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
    width: 110px;
    height: 35px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}